@page
@model WFNG.UI.Pages.NewTaskModel
@{
    ViewData["Title"] = "New Task";
}

<h1>Create a new task</h1>

<p>Drag and drop steps to build out the task. Connect step nodes to link steps.</p>

<section class="new-task-actions">
    <div class="new-step-dragger">New Step</div>
    Add a step:<br />
    <task-step type="sync" draggable="true" visual-dragger-selector=".new-step-dragger"></task-step>
    <task-step type="async" draggable="true" visual-dragger-selector=".new-step-dragger"></task-step>
</section>

<section class="new-task-container">
    <task-editor-area>
        <task-step x="0" y="20" type="starter"></task-step>
    </task-editor-area>
</section>
<script>
    document.querySelector('task-editor-area').deserialize("[{\"cron\":\"1\",\"timeout\":\"2\",\"failsafeTimeout\":\"\",\"script\":\"3\",\"nextStep\":\"\",\"x\":\"28\",\"y\":\"19\",\"id\":\"ccf0bc57-85fd-4b21-8c01-acf70aeb1443\",\"type\":\"starter\"},{\"cron\":\"\",\"timeout\":\"4\",\"failsafeTimeout\":\"\",\"script\":\"5\",\"nextStep\":\"08e30dad-578e-443b-b3ad-189d77db4b41\",\"x\":\"216\",\"y\":\"113\",\"id\":\"8cd95882-79c9-46c9-bd2d-99ebbe9420de\",\"type\":\"sync\"},{\"cron\":\"\",\"timeout\":\"6\",\"failsafeTimeout\":\"7\",\"script\":\"8\",\"x\":\"471\",\"y\":\"59\",\"id\":\"08e30dad-578e-443b-b3ad-189d77db4b41\",\"type\":\"async\"}]");
</script>

@section Scripts {
    <step-editor-modal></step-editor-modal>
}
